@model P3AddNewFunctionalityDotNetCore.Models.ViewModels.ProductViewModel
@{
    ViewData["Title"] = Localizer["CreatProductTitle"];
    Layout = "_AdminLayout";
}
@*UPD007SMO(UPD003) : center form labels, input and spans 
set input width to 100px.
Align right OK Button*@
<style type ="text/css">
    .center-div {
        margin: 0 auto; 
        width: 600px;
    }
    .right-div {
        float: right;
        width: 600px;
    }
</style>

<div asp-validation-summary="All" class="text-danger">
    @* UPD004(SMO) : deactivate debug
    Test of displaying string from resource file (bug issue :
    error message not displayed in FR/EN. The app just displays the string reference. 
    <label>(DEBUG SMO) </label>
    <label>- Titre page : @Localizer["CreatProductTitle"]</label>
    <label>- Libellé champs: @Localizer["Price"]</label>
    <label>- msg MissingPrice ==> @Localizer["MissingPrice"]</label>
    <label>- msg PriceNotANumber ==> @Localizer["PriceNotANumber"]</label>
    <label>- msg PriceNotGreaterThanZero ==> @Localizer["PriceNotGreaterThanZero"]</label>*@
</div>
<form asp-action="Create" method="post">
    <div class="mb-3 col-6" style="center-div">
        <label>@Localizer["Name"]*:</label><input asp-for="Name" class="form-control"/>
        @* UPD002(SMO) : Client side validation error message *@
        @* UPD002(SMO) : correct syntax for cshtml ==> *@
        <span asp-validation-for="Name" class="text-danger"></span>        
    </div>
    <div class="mb-3 col-4" style="center-div">
        <label>@Localizer["Price"]*:</label><input asp-for="Price" class="form-control"/>
        @* UPD002(SMO) : Client side validation error message *@
        @* UPD002(SMO) : correct syntax for cshtml ==> *@
        <span asp-validation-for="Price" class="text-danger"></span>        
    </div>
    <div class="mb-3 col-8" style="center-div">
        <label>@Localizer["Description"]:</label><input asp-for="Description" class="form-control"/>
    </div>
    <div class="mb-3 col-4" style="center-div">
        @* UPD002(SMO) : Client side validation error message *@
        @* UPD002(SMO) : correct syntax for cshtml ==> *@
        <label>@Localizer["Stock"]*:</label><input asp-for="Stock" type="text" class="form-control"/>
        <span asp-validation-for="Stock" class="text-danger"></span>        
    </div>
    <div class="mb-3 col-8" style="center-div">
        <label>@Localizer["Details"]:</label><input asp-for="Details" class="form-control"/>
    </div>
    <div class="text-center" style="right-div">
        <input class="btn btn-primary" type="submit" value="@Localizer["OK"]" />
    </div>
</form>

